@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Role</h1>

<partial name="_RoleForm" model=" new RoleViewModel()" />
<div class="text-danger" asp-validation-summary="All" ></div>
<table class="table m-5">

    <thead class="bg-light">
        <tr>
            <th scope="auto">@Html.DisplayNameFor(model => model.RoleName)</th>         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@Html.DisplayFor(dept => item.RoleName)</td>          
                <td 
                    class="btn btn-outline-info"
                    asp-action="Edit"
                    asp-route-id ="@item.RoleId"
                    >
                    Edit
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}