@model Department

    <h2>Edit @Html.DisplayFor(dept => Model.DepartmentName) Details</h2>

    <form asp-action="Edit" asp-controller="Department" method="post">

        <div mb-3>
        <label asp-for="Id"> Id</label>
        <input class="form-control" type="number"  asp-for="Id" />
        </div>

        <div class="m-3">
        <label class="col-form-label" asp-for="DepartmentName">Department Name</label>
        <input class="form-control" type="text" asp-for="DepartmentName" />
        </div>

        <div class="m-3">
            <button 
                    class="btn btn-outline-info"
                    type="submit">
                    Save
            </button>
            <a class="btn btn-outline-danger"
               asp-action="Index"
               asp-controller="Department">
                Cancel
            </a>
        </div>
    </form>
    